{% extends 'newsletter/base.html' %}

{% block content %}
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>Подтвердите удаление блога {{ object.title }}</p>
                        <button type="submit" class="btn btn-success">Подтвердить</button>
                        <a href="{% url 'blog:list' %}" class="btn btn-warning">Отменить</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}